In [1]:
import pandas as pd
import numpy as np
import math
import os
os.getcwd()

'E:\\AIML\\Ml Lab\\Assignments\\Stats Assignmnet'

In [3]:
sports= pd.read_csv('Laliga.csv')
sports.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner0up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [4]:
df= sports[(sports['Debut']>'1929') & (sports['Debut']<'1981')]
print(df['Team'])
df

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner0up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974-75,1998-99,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15

In [5]:
df.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner0up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1

In [6]:
df1=sports.sort_values(by=['Points'],ascending=False).head(5)
df1.head()
#Top five teams in terms of points

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner0up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [20]:
#Top five teams in terms of points
df1['Team']

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [36]:
def Goal_diff_count():
    sports['Diff'] = sports['GoalsFor'] - sports['GoalsAgainst']
    maxdiff= sports['Diff'].max()
    mindiff= sports['Diff'].min()
    maxteam=sports['Team'][sports['Diff']==maxdiff]
    minteam=sports['Team'][sports['Diff']==mindiff]
    print('Team with max difference',maxteam)
    print('Team with min difference',minteam)
    
    
Goal_diff_count()
print(sports[['Team','Diff']])

Team with max difference 0    Real Madrid
Name: Team, dtype: object
Team with min difference 13    Racing Santander
Name: Team, dtype: object
                   Team  Diff
0           Real Madrid  2807
1             Barcelona  2786
2       Atletico Madrid  1225
3              Valencia   929
4       Athletic Bilbao   931
5               Sevilla   307
6              Espanyol  -280
7         Real Sociedad    -2
8              Zaragoza  -164
9            Real Betis  -333
10  Deportivo La Coruna  -136
11           Celta Vigo  -346
12           Valladolid  -413
13     Racing Santander  -525
14       Sporting Gijon  -399
15              Osasuna  -334
16               Malaga  -342
17               Oviedo  -309
18             Mallorca  -189
19           Las Palmas  -399
20           Villarreal   103
21              Granada  -338
22       Rayo Vallecano  -328
23                Elche  -272
24               Getafe  -113
25             Hercules  -334
26             Tenerife  -125
27               Murcia  -385
28               Alaves  -165
29              Levante  -202
..                  ...   ...
31             Sabadell  -228
32                Cadiz  -269
33             Logrones  -198
34            Castellon  -169
35             Albacete   -90
36              Almeria  -122
37              Cordoba  -145
38           Compostela   -42
39           Recreativo   -94
40            Burgos CF   -94
41           Pontevedra   -56
42             Numancia   -98
43                Eibar   -28
44               Arenas   -81
45          Real Burgos   -38
46            Gimnastic  -114
47          Extremadura   -55
48               Merida   -45
49             Alcoyano  -107
50                 Jaen   -62
51           Real Union   -31
52           AD Almeria   -45
53               Europa   -34
54               Lleida  -112
55              Leganes   -19
56                Xerez   -28
57               Condal   -20
58      Atletico Tetuan   -34
59     Cultural Leonesa   -31
60               Girona     0

[61 rows x 2 columns]

In [26]:
sports.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner0up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Diff
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,2807
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,2786
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,1225
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,929
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,931

In [37]:
sports['Winning Percent']=(sports['GamesWon'] / sports['GamesPlayed'])*100
sports

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Diff,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934-35,2001-02,1,307,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994-95,3,-280,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010-11,1,-2,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939-40,2012-13,2,-164,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932-33,2015-16,1,-333,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941-42,2014-15,1,-136,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939-40,2012-13,4,-346,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948-49,2013-14,4,-413,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011-12,2,-525,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944-45,2015-16,2,-399,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935-36,2016-17,4,-334,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949-50,2008-09,4,-342,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933-34,2000-01,3,-309,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960-61,2012-13,3,-189,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951-52,2015-16,2,-399,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998-99,2013-14,2,103,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941-42,2016-17,6,-338,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977-78,2015-16,8,-328,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959-60,2014-15,5,-272,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004-05,2015-16,6,-113,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935-36,2010-11,5,-334,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961-62,2009-10,5,-125,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940-41,2007-08,11,-385,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930-31,2016-17,6,-165,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963-64,2015-16,6,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943-44,1987-88,4,-228,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977-78,2005-06,12,-269,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987-88,1996-97,7,-198,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941-42,1990-91,4,-169,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991-92,2004-05,7,-90,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007-08,2014-15,8,-122,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962-63,2014-15,5,-145,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994-95,1997-98,10,-42,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978-79,2008-09,8,-94,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971-72,1979-80,12,-94,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963-64,1969-70,7,-56,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999-00,2008-09,17,-98,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014-15,2014-15,10,-28,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934-35,3,-81,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990-91,1992-93,9,-38,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947-48,2006-07,7,-114,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996-97,1998-99,17,-55,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995-96,1997-98,19,-45,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945-46,1950-51,10,-107,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953-54,1957-58,14,-62,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931-32,6,-31,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979-80,1980-81,10,-45,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930-31,8,-34,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950-51,1993-94,16,-112,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016-17,2016-17,17,-19,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,2009-10,20,-28,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,-34,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,0,NaN

In [40]:
#To fill NAN value with 0
sports['Winning Percent'].fillna(0, inplace=True)
sports

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner0up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934-35,2001-02,1,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939-40,2012-13,2,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932-33,2015-16,1,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941-42,2014-15,1,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939-40,2012-13,4,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948-49,2013-14,4,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944-45,2015-16,2,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935-36,2016-17,4,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949-50,2008-09,4,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933-34,2000-01,3,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960-61,2012-13,3,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951-52,2015-16,2,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998-99,2013-14,2,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941-42,2016-17,6,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977-78,2015-16,8,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959-60,2014-15,5,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004-05,2015-16,6,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935-36,2010-11,5,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961-62,2009-10,5,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940-41,2007-08,11,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930-31,2016-17,6,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963-64,2015-16,6,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943-44,1987-88,4,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977-78,2005-06,12,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987-88,1996-97,7,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941-42,1990-91,4,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991-92,2004-05,7,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007-08,2014-15,8,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962-63,2014-15,5,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994-95,1997-98,10,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978-79,2008-09,8,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971-72,1979-80,12,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963-64,1969-70,7,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999-00,2008-09,17,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014-15,2014-15,10,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990-91,1992-93,9,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947-48,2006-07,7,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996-97,1998-99,17,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995-96,1997-98,19,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945-46,1950-51,10,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953-54,1957-58,14,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979-80,1980-81,10,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950-51,1993-94,16,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016-17,2016-17,17,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009-10,2009-10,20,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956-57,1956-57,16,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951-52,1951-52,16,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955-56,1955-56,15,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017-18,2017-18,9,0.000000

In [42]:
#Top 5 teams with highest winning percent
sports.sort_values(by=['Winning Percent'],ascending= False).head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner0up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629

In [34]:
sports.groupby(by=["BestPosition"])["Points"].sum().reset_index()

    BestPosition  Points
0              1   27933
1              2    6904
2              3    5221
3              4    6563
4              5    1884
5              6    2113
6              7    1186
7              8    1134
8              9      96
9             10     450
10            11     445
11            12     511
12            14      71
13            15      14
14            16      81
15            17     266
16            19      81
17            20      34